

@mixin flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow {
  gibox-shadow: 14px 14px 12px 1px rgba(0,0,0,0.54);
  -webkit-box-shadow: 14px 14px 12px 1px rgba(0,0,0,0.54);
  -moz-box-shadow: 14px 14px 12px 1px rgba(0,0,0,0.54);
}

@mixin respond-to($breakpoint){
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}