
//breaking points
$mobile: 768px;
$tablet: 1023px;
$desktop: 1100px;

//font-family
$poppins: "Poppins", sans-serif;

//colors
$primary-clr: #000;
$secondary-clr: #fff;
$font-color: rgb(141, 141, 141); 
$background-clr: aquamarine;                 



