.container {
  min-height: calc(100vh - 70px);
  background-image: url('../public/images/event.jpg');
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: yellow;

  h2 {
    z-index: 10000;
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0 , 0, 0.7);
  backdrop-filter: blur(3px);
}