@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;700&family=Work+Sans:wght@600;700&display=swap');

@import "./partials.module";
@import "./mixins.module";
.nav{
height: 70px;
width: 100vw;
position: fixed;
font-family: 'Poppins', sans-serif;
@include box-shadow;
@include flex;
padding: 0 40px 0 20px;
background-color: $secondary-clr;
z-index: 1000;

.logo {
  flex: 2;
}

.navSection {
  flex: 1;

  .navItems{
    display: flex;
    list-style: none;
    justify-content: space-between;

    .navItem{
      font-size: 16px;
      line-height: 40px;
      color: $font-color;
      transition: all 1s ease;

      &:hover{
        color: $primary-clr;
      }
    }
  }

  @include respond-to($mobile){
    display: none;
  }

}

  .menuBtn{
    @include respond-above($desktop){
      display: none;
    }
  }
}